@import "bootstrap";

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuisci lo spazio */
}
.card {
    flex: 1 1 calc(33.333% - 20px); /* Card flessibile con margine */
    box-sizing: border-box; /* Per evitare padding overflow */
    margin: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden; /* Per evitare overflow del contenuto */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuzione interna uniforme */
    max-width: 300px; /* Imposta una larghezza massima */
    min-height: 400px; /* Altezza minima per le card */
   
}
.card-content {
    flex-grow: 1;
    padding: 10px 0;
}
.card-footer {
    text-align: center;
    padding-top: 10px;
}

/* Pulsanti arrotondati */
.btn-outline-info {
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-info:hover {
    background-color: #021724;
    color: white;
}
body {
    background-color: #f5f5f5;
    color: #2c3e50;
     
}



.newsletter-section {
    background-color: #fdf5e6;
}

footer {
    background-color: #2c3e50;
    color: #f7dc6f;
    transition: color 0.3s;
}


.card img {
    max-height: 150px; /* Limita l'altezza delle immagini */
    width: 100%; /* Immagine larga quanto la card */
    object-fit: cover; /* Taglia l'immagine se troppo grande */
}

footer a:hover {
    color: #5dade2;
}



h1, h2, h3, h4, h5, h6 {
    color: #061e4d;
}

/* Pulsanti */
.btn-primary {
    background-color: #5dade2;
    border-color: #5dade2;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #2c3e50;
    border-color: #2c3e50;
}


@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Due card per riga su tablet */
        min-height: 350px;
    }
}

@media (max-width: 576px) {
    .card {
        flex: 1 1 calc(100% - 20px); /* Una card per riga su mobile */
        min-height: 300px;
    }

}
.tablerevisor {
    color: black;
}
.titletablerevisor{
    color: #2c3e50;
    font: bold;
}

.form-label {
    font-weight: bold;
    color: #343a40; /* Colore del testo */
}
.btn-warning {
    background-color: #ffc107; /* Colore di sfondo */
    border-color: #ffc107; /* Colore del bordo */
}
.btn-warning:hover {
    background-color: #e0a800; /* Colore di sfondo al passaggio del mouse */
    border-color: #d39e00; /* Colore del bordo al passaggio del mouse */
}
.text-danger {
    font-weight: 600; /* Rende il messaggio di errore più evidente */
}

.register-container {
    background-color: #ffffff; /* Colore di sfondo del modulo */
    border-radius: 15px; /* Angoli arrotondati */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombra per un effetto di profondità */
    padding: 30px; /* Spaziatura interna */
}
.register-header {
    color: #007bff; /* Colore del titolo */
    font-weight: bold; /* Testo in grassetto */
}
.btn-primary {
    background-color: #007bff; /* Colore primario */
    border-color: #007bff; /* Colore del bordo */
}
.btn-primary:hover {
    background-color: #0056b3; /* Colore al passaggio del mouse */
    border-color: #0056b3; /* Colore del bordo al passaggio del mouse */
}
.text-danger {
    font-size: 0.9em; /* Dimensione font per messaggi di errore */
}

.login-container {
    background-color: #ffffff; /* Colore di sfondo del modulo */
    border-radius: 15px; /* Angoli arrotondati */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombra per un effetto di profondità */
    padding: 30px; /* Spaziatura interna */
}
.login-header {
    color: #007bff; /* Colore del titolo */
    font-weight: bold; /* Testo in grassetto */
}
.btn-primary {
    background-color: #007bff; /* Colore primario */
    border-color: #007bff; /* Colore del bordo */
}
.btn-primary:hover {
    background-color: #0056b3; /* Colore al passaggio del mouse */
    border-color: #0056b3; /* Colore del bordo al passaggio del mouse */
}

.logo-image {
    width: 150px;
}

.blog-brand {
    font-weight: bold;
    color: #061e4d;
    font-size: 1.5rem;
}

